DrinkTracker.xcodeproj/project.xcworkspace/xcuserdata
DrinkTracker.xcodeproj/xcuserdata
ios/DrinkTracker.xcodeproj/xcuserdata
ios/DrinkTracker.xcodeproj/project.xcworkspace/xcuserdata
DrinkTrackerNode/node_modules
